*{
    margin: 0;
    box-sizing: border-box;
}
.left{
    width:20%;
    height: 675px;
    background:rgb(42,42,42);
    color: white;
    line-height: 80px;
}
li{
    list-style: none;
}
.first-line{
    background:rgb(51, 51,51);
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 10px;
}
.fa-location-dot{
    color: red;
    font-size: 30px;
}
.border{
    border: none;
}
.mesg{
    background: green;
    border-radius:50%;
    padding: 2px 4px;
}
.left-head{
    line-height: 40px;
}
.left-mid{
    line-height: 40px;
}
.left-fotter{
    line-height: 40px;
}
.d-f-items-center{
    display: flex;
    align-items:normal;
}
.d-f-items{
    display:flex;
    align-items: center;
    gap: 10px;
}
.temp{
    width: 100%;
}
.right{
    background: whitesmoke;
    width: 80%;
}
.top-main{
    display: flex;
    justify-content:space-around;
    background:white;
}
.top-right2{
    margin-left: 550px;
    display:flex;
}
.top-right1{
    padding: 28px;
    display: flex;
    gap: 15px;
}
.add-list{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border-color: red;
    border-width: 3px;
    color: red;
    border-style: solid;
}
.color{
    color: red;
}
.right h1{
    padding: 20px 30px;
}
.top-2 p{
    font-weight: 100;
    word-spacing: 10px;
    color: rgb(120,120,120);
    margin-left: 775px;
}
.top-2-right{
    padding: 10px;
    margin: 25px;
    color: #81c02f;
    background: #d4f0b9;
    border-radius: 5px;
}
.fa-xmark{
    color: green;
    margin-left: 770px;
}
.right-mid{
    padding: 10px;
    margin-left: 25px;
    width: 22.4%;
    height: 150px;
    color: #d4f0b9;
}
.right-mid p{
    padding-left:30px;
    width: 50%;
    padding-bottom: 20px;
}
.right-mid h1{
    padding-bottom: 5px;
}
.box-1{
    background:#65BC37;
}
.box-2{
    background: #353841;
}
.box-3{
    background: #FFAF0c;
}
.box-4{
    background: #F20F3C;
}
.box{
    display: flex;
}
.fa-map{
    font-size: 80px;
    padding-top: 30px;
    padding-left: 15px;
    color: #8AD86B;
}
.heart i{
    font-size: 80px;
    padding-top: 30px;
    color: #FF546F;
}
.fa-circle-user{
    font-size: 80px;
    padding-top: 30px;
    padding-left: 20px;
    color: #FFBD30;
}
.fa-chart-line{
    font-size: 80px;
    padding-top: 30px;
    padding-left: 25px;
    color: #646670;
}
.right-foter-1{
    padding: 25px;
    margin-top: 15px;
    width: 51%;
}
.right-foter{
    display: flex;
    width: 100%;
}
.r-f{
    background: white;
    padding: 20px;
    margin-bottom: 3px;
}
.r-f-1{
    background: white;
    padding: 20px;
    margin-bottom: 3px;
}
.r-f-1 i{
    background: #EEEEEE;
    border-radius: 50%;
    padding: 10px;
}
span{
    background:#6CB747;
    color: white;
    padding: 1px 5px;
    border-radius: 8px;
}
.right-foter-2{
    padding: 25px;
    margin-top: 15px;
    width: 51%;
}
.right-foter-2 h3{
    background: white;
    padding: 20px;
}