*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: red;
    display: none;
    padding:10px 0 0 10%;
}
.d-f-item{
    display: flex;
    align-items: center;
    gap: 10px;
}
.forms form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.address input{
    width: 15vw;
    height: 10vh;
    display: inline-block;
}
.gender{
    display: flex;
    flex-direction: column;
}
.hobbies{
    display: flex;
    flex-direction: column;
}
.address{
    display: flex;
    flex-direction: column;
}