*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: whitesmoke;
    align-items: center;
    height: 15vh;
}
.top-left{
    display: flex;
    gap: 10px;
}
.fa-cruzeiro-sign{
    font-size: 40px;
    color: red;
}
button{
    font-size: 20px;
    border: none;
    padding: 5px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    font-size: 20px;
    width: 15%;
    height: 85vh;
    background: whitesmoke;
    margin-top: 1px;
}
.main{
    display: flex;
    width: 100%;
}
.right{
    padding: 40px;
    width: 85%;
}
.right h1{
    color: green;
}
.right p{
    padding-top: 20px;
    font-size: 20px;
}
a{
    text-decoration: none;
    padding: 10px;
}
.left a:hover{
    background: rgb(88, 88, 172);
}
.top-right button{
    background: wheat;
    border-radius: 5px;
}
.head{
    display: flex;
    justify-content: center;
}